@import "variables";
:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  .header-container {
    height: $header-height;
    width: $content-width;
    margin: auto;
    .logo {
      height: 100%;
      &:focus {
        outline: 0;
      }
    }
    .header-link {
      font-size: $font-size-header-footer;
    }
  }
}
