<div class="container">
    <div class="content p-grid p-justify-center p-nogutter">
        <h1 class="header content-width">{{"reviewHeader" | translate}}</h1>
        <div class="p-grid p-nogutter p-align-center p-justify-between content-width-with-nav-button">
            <button class="round-nav-button white-round-nav-button" (click)="scrollLeft(reviewSlider)">
                <i class="fas fa-chevron-left"></i>
            </button>
            <div class="slider p-col-12 p-grid" #reviewSlider>
                <ng-template ngFor let-item [ngForOf]="reviewList">
                    <div class="content-box" *ngIf="!item.ShowScreenshot">
                        <fb-post attr.href="{{item.Url}}" width="350"></fb-post>
                    </div>
                    <div class="content-box cursor-pointer" *ngIf="item.ShowScreenshot && item.ScreenshotUrl"
                        (click)="goToReview(item.Url)">
                        <img src="{{item.ScreenshotUrl}}" />
                    </div>
                </ng-template>
            </div>
            <button class="round-nav-button white-round-nav-button" (click)="scrollRight(reviewSlider)">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </div>
    <div class="content p-grid p-justify-center p-nogutter">
        <h1 class="header content-width">{{"achievementHeader" | translate}}</h1>
        <div class="p-grid p-nogutter p-align-center p-justify-between content-width-with-nav-button">
            <button class="round-nav-button white-round-nav-button" (click)="scrollLeft(achievementSlider)">
                <i class="fas fa-chevron-left"></i>
            </button>
            <div class="slider p-col-12 p-grid" #achievementSlider>
                <div class="content-box achievement-box p-grid p-nogutter p-justify-center p-align-center"
                    *ngFor="let achievement of achievementList" [class.no-thumbnail]="!achievement.ThumbnailImageUrl"
                    (click)="openAchievementDetail(achievement)">
                    <img *ngIf="achievement.ThumbnailImageUrl; else elseblock" src="{{achievement.ThumbnailImageUrl}}">
                    <ng-template #elseblock>
                        {{achievement.StudentName}}
                    </ng-template>
                </div>
            </div>
            <button class="round-nav-button white-round-nav-button" (click)="scrollRight(achievementSlider)">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </div>
</div>