//font
$font: Helvetica Neue;
$font-stack: $font, Helvetica, sans-serif;

//font-weight
$font-weight-semibold: 500;

//font-size
$font-size-header: 32px;

//color
$primary-color: #2d648f;
$secondary-color: #5bb0e0;
$bolder-primary-color: #136493;
$black: #000;
$white: #fff;
$review-box-border: 3px solid #f0f0f0;
$review-box-border-radius: 10px;

//dimension
$header-height: 60px;
$content-width: 1200px;
