//font
$font: Helvetica Neue;
$font-stack: $font, Helvetica, sans-serif;

//font-weight
$font-weight-semibold: 500;
$font-weight-light: 300;

//font-size
$font-size-header: 28px;
$font-size-sub-header: 18px;
$font-size-header-footer: 14px;
$font-size-label-button: 18px;
$font-size-content: 18px;

//color
$primary-color: #2d648f;
$secondary-color: #5bb0e0;
$bolder-primary-color: #136493;
$black: #000;
$dark-gray: #4d4d4d;
$blue-gray: #c1d1de;
$white: #fff;
$review-box-border: 1px solid #dddfe2;
$footer-background-color: #273236;
$footer-header-text-color: #39b3e6;
$white-background-blur-color: rgba($color: $white, $alpha: 0.7);

//dimension
$header-height: 60px;
$review-box-border-radius: 5px;
$dialog-border-radius: 10px;
$content-width: 1200px;
$nav-button-size: 50px;
$nav-button-margin: 40px;
$content-width-with-nav-button: calc(
  #{$content-width} + 2 *#{$nav-button-size} + 2 *#{$nav-button-margin}
);

//gutter
$typical-padding: 40px;

//duration
$button-transition-duration: 0.2s;
$header-transition-duration: 0.4s;

