<div class="footer-container p-grid p-nogutter p-justify-center">
    <div class="content-width p-grid p-nogutter p-justify-between">
        <div class="p-grid p-nogutter p-dir-col p-col-4 footer-block">
            <div class="p-col-12">
                <img src="/assets/image/IPP-logo-horizontal.png" />
            </div>
            <div class="p-col-5 p-grid p-nogutter p-justify-between">
                <i class="fab fa-facebook p-col-4 social-icon"></i>
                <i class="fab fa-youtube p-col-4 social-icon"></i>
                <i class="fab fa-instagram p-col-4 social-icon"></i>
            </div>
            <div class="p-col-12 hotline-block">
                <h1 class="header-text">{{"footer.hotline.header" | translate}}</h1>
                <p>
                    <a class="phone-number" href="tel: {{'footer.hotline.line1' | translate}}">
                        {{"footer.hotline.line1" | translate}}
                    </a>
                    -
                    <a class="phone-number" href="tel: {{'footer.hotline.line2' | translate}}">
                        {{"footer.hotline.line2" | translate}}
                    </a>
                </p>
            </div>
        </div>
        <div class="p-grid p-nogutter p-dir-col p-col-2 footer-block">
            <h1 class="header-text">{{"aboutIPP"|translate}}</h1>
            <p> {{"curriculum"|translate}} </p>
            <p> {{"review"|translate}} </p>
            <p> {{"appoinment"|translate}} </p>
            <p> {{"contact"|translate}} </p>
            <p> {{"vacancy"|translate}} </p>
        </div>
        <div class="p-grid p-nogutter p-dir-col p-col-2 footer-block">
            <h1 class="header-text">{{"curriculum"|translate}}</h1>
            <p> {{"footer.curriculum.line1"|translate}} </p>
            <p> {{"footer.curriculum.line2"|translate}} </p>
            <p> {{"footer.curriculum.line3"|translate}} </p>
            <p> {{"footer.curriculum.line4"|translate}} </p>
            <p> {{"footer.curriculum.line5"|translate}} </p>
            <p> {{"footer.curriculum.line6"|translate}} </p>
        </div>
        <div class="p-grid p-nogutter p-dir-col p-col-3 footer-block">
            <h1 class="header-text">{{"footer.address.header"|translate}}</h1>
            <p> {{"footer.address.line1"|translate}} </p>
            <p> {{"footer.address.line2"|translate}} </p>
        </div>
    </div>
</div>