@import "variables";

.footer-container {
  background-color: $footer-background-color;
  padding: 20px 0;
  .footer-block {
    > * {
      font-size: $font-size-header-footer;
      padding-bottom: 0.5em;
    }
    .header-text {
      font-weight: normal;
      color: $footer-header-text-color;
    }
    p {
      color: $white;
    }
    .social-icon {
      color: $white;
      font-size: 40px;
      height: 40px;
      width: 40px;
    }
    .hotline-block {
      margin-top: auto;
      > * {
        font-size: $font-size-header-footer;
      }
      .header-text {
        padding-bottom: 0.5em;
      }
    }
    .footer-link {
      color: $white;
      transition: opacity $button-transition-duration;
      &:hover {
        opacity: 0.7;
      }
    }
    &.primary-block {
      align-content: space-between;
    }
  }
}
